body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    touch-action: manipulation;
    user-select: none;
    -webkit-touch-callout: none;
}

body {
    font-family: "Noto Sans JP", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.0;
    background: white;
    -webkit-tap-highlight-color: transparent;
}

.scene {
    position: absolute;
    inset: 0;
    color: white;
}

.scene-ctrl {
    position: absolute;
    inset: 0;
}

.game-scene {
    //background: green;

    .lap-info {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        padding: 8px;
        position: absolute;
        left: 0;
        right: 0;
        top: 4px;
        width: fit-content;
        margin: 0 auto;
        font-size: 14px;
        color: white;
    }

    .operation-info {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        padding: 8px;
        position: absolute;
        width: fit-content;
        font-size: 14px;
        color: white;
        left: 4px;
        bottom: 4px;
        white-space: break-spaces;
        word-break: break-word;
        line-height: 1.5;
    }
}

.course {
    position: absolute;
}

.car {
    position: absolute;
    will-change: transform;
    transform-origin: 0 0;
    width: 13px;
    height: 16px;
    left: 0;
    top: 0;
    //image-rendering: pixelated;
    filter: drop-shadow(0 0 2px black);

    > .tire {
        position: absolute;
        will-change: transform;
        background: black;
        width: 2px;
        height: 3px;
        left: 0;
        top: 0;
        transform-origin: center;
    }

    > .body {
        position: absolute;
    }
}

.name-plate {
    position: absolute;
    will-change: transform;
    font-size: 12px;
    color: white;
    text-shadow: 0 2px 0 black;
    width: fit-content;
}